<div class="max-w-lg m-auto px-4">
    <h1 class="text-3xl mt-10">Schedule a new tutoring session</h1>
    <p class="text-lg text-grey-darker mb-6">Schedule a new tutoring session by choosing the best time that works for you.</p>
    <%= render 'form', meeting: @meeting %>
</div>